.galleryFooter {
  width: 98%;
  height: 60px;
  margin: 0px auto 24px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #009999;
}
.PageNumHolder{
    display: flex;
    justify-content: space-evenly;
    width:30%;
    overflow-x: scroll;
}

@media screen and (max-width:100px){
  .PageNumHolder{
  
    width: 50%;
    }
}

@media screen and (max-width:720px){
  .galleryFooter {
    flex-direction: column;
    height: auto;
    row-gap: 10px;
  }
  .PageNumHolder{
  
  width: 60%;
  }
}

