.navbar {
    display: flex;
    width:100vw;
    height: 64px;
}
.container-fluid{
    width:100%;
    height: 48px;
    padding: 0px 12px;
    margin: auto 0px;
    display: flex;
    justify-content: space-between;

}
.nav-IconHolder{
    height: 38px;  
    margin-right: 16px;
    padding: 5px 0px;
    font-size: 1.6rem;
    color: #3399CC;
    display: flex;
    align-items: center;
    transition: 0.3s;

}   
.nav-IconHolder:hover{
    color: #009999;
}
.NavToggleButton div {
    width: 21px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
    
}
.NavToggleButton{
    display: none;
    margin: auto 6px;
}
.navButtonsHolder{
    margin: auto 0px;
}
.navButtonsHolder ul{
    list-style-type: none;
    display: flex;

}
.navButtonsHolder ul li{
    /* float: left; */
    font-size: 1.2rem;
    color: #666666;
    margin-right: 30px;

   
}
.navButtonsHolder ul li p{
    display: inline-block;
    padding: 8px;
    border-bottom: 4px solid transparent;
    transition: 0.3s;
}
/* #show{
    display: inline-block;
    flex-flow: column;
} */
/* #notShow{
    display: none;
} */


.fa-film{
font-size: 2rem;
margin-right: 16px;
} 
.marginRight0{
    margin-right: 0px !important;
}
.navLink1.active,.navLink1:hover{
    border-bottom: 4px solid  #3399CC;
}
.navButtonsHolder ul li p:hover{
    color: #3399CC ;
}
.navLink2.active,.navLink2:hover{
    border-bottom: 4px solid #33006d;
}

.navLink3.active,.navLink3:hover{
    border-bottom: 4px solid #cc33cc;
}

.navLink4.active,.navLink4:hover{
    border-bottom: 4px solid #cc3340;
}

@media screen and (max-width: 902px) {

    .navButtonsHolder{
        display: none;
    }
    .NavToggleButton{
        display: block;
    }

}