*{
    margin: 0px;
    padding: 0px;
}
 /* ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px #656c7b;
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  

  ::-webkit-scrollbar {
    width: 4px;
    background-color: #f5f5f5;
  }
  

  ::-webkit-scrollbar-thumb {
    background-color: #656c7b;
    border-radius: 10px;
  } */